<h2>Create/Edit Layaway Entries</h2>
<div ng-include="BreadcrumbsUrl"></div>
<p>
    <br>
    A negative amount indicates an amount that is owed.<br>
    A positive amount indicates a balance on the account.
</p>
<form ng-submit="saveData()">
    <table style="width: 100%;">
        <tr>
            <td>Account ID</td>
            <td>{{Data.account_id}}</td>
        </tr>
        <tr>
            <td>Actdate</td>
            <td><input type="text" ng-model="Data.actdate"></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" ng-model="Data.amount"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="Data.name"></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save Data"/></td>
        </tr>
    </table>
</form>