<h2>{{Data.name }} - <a href="#!/layaway/{{Data.id}}">view</a></h2>
<div ng-include="BreadcrumbsUrl"></div>
<form ng-submit="saveData()">
    <p>
        <input ng-model="Data.name" type="text">
        <input type="submit">
    </p></form>
<br>{{top.name}}
