<h2>{{top.name}} - <a href="#!/layaway/edit/{{top.id}}">edit</a></h2>
<div ng-include="BreadcrumbsUrl"></div>
<p>
    <br>
    A negative amount indicates an amount that is owed.<br>
    A positive amount indicatess a balance on the account.
</p>
<table class="table">
    <tr>
        <th>ActDate</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Balance</th>
    </tr>
    <tr ng-repeat="dat in data | orderBy:'actdate':true">
        <td>{{dat.actdate}}</td>
        <td>{{dat.name}}</td>
        <td style="text-align: right">{{dat.amount | currency}}</td>
        <td style="text-align: right">{{dat.balance | currency}}</td>
    </tr>
</table>