<h1>Log Withholding Entry</h1>
<div ng-include="BreadcrumbsUrl"></div>

<div>

    <form ng-submit="saveData()">
        <div class="row">
            <div class="col-sm-3">Id</div>
            <div class="col-sm-9">
            <span ng-if="Data.id">
            {{ Data.id }}
                </span>
                <span ng-if="!Data.id">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Transfer Date</div>
            <div class="col-sm-9">
                <input type="text" ng-model="Data.transfer_date">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Amount</div>
            <div class="col-sm-9">
                <input type="text" ng-model="Data.amount">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Category</div>
            <div class="col-sm-9">

                <ui-select ng-model="selectClass" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updClass($select.selected)"> <ui-select-no-choice>
                </ui-select-no-choice> <ui-select-match
                        placeholder="{{selectClass.value}}">{{ selectClass.value }}</ui-select-match>
                    <ui-select-choices repeat="opt in optClasses | filter: $select.search">
                        <span ng-bind-html="opt.descrip | highlight: $select.search"></span>
                    </ui-select-choices></ui-select>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Desciption</div>
            <div class="col-sm-6">
                <textarea rows="12" cols="80" ng-model="Data.descrip"></textarea>
            </div>
        </div>
        <input type="submit" value="Submit Changes" class="btn btn-primary">
    </form>
</div>