<h1>Log Withholding Entries</h1>
<div ng-include="BreadcrumbsUrl"></div>
<div><a ng-click="getData()">getData</a></div>

<table class="table table-striped table-condensed">
    <tr>
        <th></th>
        <th></th>
        <th>Transfer Date</th>
        <th>Class</th>
        <th>Amount</th>
        <th>Descrip</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/banking/log_withholding/edit/{{dat.id}}">{{dat.id}}</a></td>
        <td><a href="#!/banking/log_withholding/edit/{{dat.id}}/clone">Clone</a></td>
        <td>{{dat.transfer_date}}</td>
        <td>{{dat.class_name}}</td>
        <td>{{dat.amount}}</td>
        <td>{{dat.descrip}}</td>
    </tr>
</table>
