<h1>Log Withholding Position History</h1>
<a ng-click="getData()">getData</a>

<table class="table table-striped table-condensed">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Date</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Description</th>
    </tr>
    <tr ng-repeat="dat in Data|orderBy:'banking_class_descrip'|filter:filterItem">
        <td><a href="#!/banking/log_withholding/edit/{{dat.id}}">Edit</a></td>
        <td><a href="#!/banking/log_withholding/edit/{{dat.id}}/clone">Clone</a></td>
        <td>{{dat.id}}</td>
        <td>{{dat.date}}</td>
        <td>{{dat.amount|currency}}</td>
        <td>{{dat.balance|currency}}</td>
        <td>{{dat.descrip}}</td>
    </tr>
</table>