<h1>Log Withholding Positions</h1>
<div ng-include="BreadcrumbsUrl"></div>
<div><a ng-click="getData()">getData</a></div>

<table class="table table-striped table-condensed">
    <tr>
        <th>Total</th>
        <th>Descrip</th>
    </tr>
    <tr ng-repeat="dat in Data|orderBy:'banking_class_descrip'|filter:filterItem">
        <div>
            <td style="text-align: right">{{dat.total | currency }}</td>
            <td><a href="#!/banking/log_withholding/position/{{dat.banking_class_id}}">{{dat.banking_class_descrip}}</a></td>
        </div>
    </tr>
</table>