<h1>WIP - Create Transfer</h1>
<div ng-include="BreadcrumbsUrl"></div>

<div>
    <form ng-submit="saveData()">
        <div class="row">
            <div class="col-sm-3">Amount</div>
            <div class="col-sm-9">
                <input type="text" ng-model="Data.amount">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">From Class</div>
            <div class="col-sm-9">
                {{Data.fromId}}<br>
                <ui-select ng-model="selectClasFrom" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updClass('fromId', 'selectClassFrom', $select.selected)"> <ui-select-no-choice>
                </ui-select-no-choice> <ui-select-match
                        placeholder="{{selectClassFrom.value}}">{{ selectClassFrom.value }}</ui-select-match>
                    <ui-select-choices repeat="opt in optClasses | filter: $select.search">
                        <span ng-bind-html="opt.descrip | highlight: $select.search"></span>
                    </ui-select-choices></ui-select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">To Class</div>
            <div class="col-sm-9">
                {{Data.toId}}<br>
                <ui-select ng-model="selectClasFrom" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updClass('toId', 'selectClassTo', $select.selected)"> <ui-select-no-choice>
                </ui-select-no-choice> <ui-select-match
                        placeholder="{{selectClassTo.value}}">{{ selectClassTo.value }}</ui-select-match>
                    <ui-select-choices repeat="opt in optClasses | filter: $select.search">
                        <span ng-bind-html="opt.descrip | highlight: $select.search"></span>
                    </ui-select-choices></ui-select>
            </div>
        </div>
        <input type="submit" value="Submit Changes" class="btn btn-primary">
    </form>
</div>