<h1>Mileage Entries</h1>
<a href="#!/mileage/edit/0">Create New Entry</a> | <a ng-click="getData()">getData</a>

<table class="table table-striped table-condensed">
    <tr>
        <th>Code</th>
        <th></th>
        <th>Date</th>
        <th>Type</th>
        <th>Miles</th>
        <th>Status</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/mileage/edit/{{dat.id}}">{{dat.id}}</a></td>
        <td><a href="#!/mileage/edit/{{dat.id}}/clone">Clone</a></td>
        <td>{{dat.effdate}}</td>
        <td>{{dat.mile_type_value}}</td>
        <td>{{dat.miles}}</td>
        <td>{{dat.comment}}</td>
    </tr>
</table>
