<div>Mileage Entry

    <a href="#!/mileage/entries">Entries List</a>
    <form ng-submit="saveData()">
        <div class="row">
            <div class="col-sm-3">Id</div>
            <div class="col-sm-9">
            <span ng-if="Data.id">
            {{ Data.id }}
                </span>
                <span ng-if="!Data.id">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">EffDate</div>
            <div class="col-sm-9">
                <input type="text" ng-model="Data.effdate">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Miles</div>
            <div class="col-sm-9">
                <input type="text" ng-model="Data.miles">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Category</div>
            <div class="col-sm-9">

                <ui-select ng-model="selectMileTyp" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updMileType($select.selected)"> <ui-select-no-choice>
                </ui-select-no-choice> <ui-select-match
                        placeholder="{{selectMileType.value}}">{{ selectMileType.value }}</ui-select-match>
                    <ui-select-choices repeat="opt in optMileTypes | filter: $select.search">
                        <span ng-bind-html="opt.name | highlight: $select.search"></span>
                    </ui-select-choices> </ui-select>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Comment</div>
            <div class="col-sm-6">
                <textarea rows="12" cols="80" ng-model="Data.comment"></textarea>
            </div>
        </div>
        <input type="submit" value="Submit Changes" class="btn btn-primary">
    </form>
</div>