@CHARSET "ISO-8859-1";

th {
    text-align: center;
}

/* Arrows */
.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.table thead tr th,
.table tbody tr th,
.table tfoot tr th,
.table thead tr td,
.table tbody tr td,
.table tfoot tr td {
    border-top: 0px;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection, #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}

body {
    color: #000000;
}

infoChi-title {
    font-size: 200%
}

infoChi-big {
    font-size: 150%
}

.infoChi-badge-w {
    min-width: 200px;
    max-width: 200px;
}

.infoChi-badge-h {
    /*display: inline-block;*/

    text-align: center;
    min-height: 150px;
    max-height: 150px;
}

.center {
    text-align: center;
}

.infoChi-input {
    padding: 0;
    /*width: auto;*/
}

.infoChi-table {
    border-bottom: 0;
}

.infoChi-big {
    font-size: 200%;
}

.infoChi-hr {
    border-top: 1px solid #000044;
}

.infoChi-hr-partial {
    width: 75%
}

.infoChi-black {
    color: #000000;
}

.infoChi-sbadge-w {
    min-width: 100px;
    max-width: 200px;
}

.infoChi-sbadge-h {
    /*display: inline-block;*/

    text-align: center;
    vertical-align: middle;
    min-height: 75px;
    max-height: 75px;
}

form {
    width: 100%;
}

.inUse {
    font-style: italic;
}

.infoChi-strong {
    font-weight: bold;
}

.spinner {
    /*background: #FFFFFF;*/
    width: 25%;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    /*background-color: #FFFFFF;*/
}

/* Transparent Overlay */
.spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 222, 0.9);
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

td {
    vertical-align: top;
}

label.error {
    background-color: #CCCCCC;
    color: #FF0000;
    font-weight: bold;
}

.pager {
    text-align: right;
}

.ticket_entry_system {
    background-color: #888888;
}

.ui-draggable, .ui-droppable {
    background-position: top left;
}

#ch_list .ui-icon {
    background-image: url('');
}

th {
    text-align: center;
}

table#tabTickets, table#tabTickets thead tr th, table#tabTickets tbody tr td {
    font-size: 14px;
}

table.tablesorter tbody tr.ticket-overdue td, table.tablesorter tbody tr.ticket-overdue td a {
    color: #FF0000;
}

.ticket-icon {
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

tr.ticket-type-Release .ticket-icon {
    background-image: url(/img/icons/release.png);
}

tr.ticket-type-Bug .ticket-icon {
    background-image: url(/img/icons/bug.png);
}

tr.ticket-type-Feature .ticket-icon {
    background-image: url(/img/icons/feature.png);
}

tr.ticket-type-Chore .ticket-icon {
    background-image: url(/img/icons/chore.png);
}

tr.ticket-type-Billing .ticket-icon {
    background-image: url(/img/icons/billing.png);
}

tr.ticket-type-Question .ticket-icon {
    background-image: url(/img/icons/question.png);
}

tr.ticket-type-Idea .ticket-icon {
    background-image: url(/img/icons/idea.png);
}

tr.ticket-type-Prospect .ticket-icon {
    background-image: url(/img/icons/prospect.png);
}

tr.ticket-type-Note .ticket-icon {
    background-image: url(/img/icons/list.gif);
}

.text-right {
    text-align: right;
}

.text-red {
    color: #DD0000;
}

.text-green {
    color: #00DD00;
}

/** General Style Info **/
a {
    font-weight: bold;
}

textarea {
    width: 400px;
    height: 200px;
}

input {
     width: 400px;
}

.em {
    font-style: italic;
}

dd {
    margin-left: 1em;
}

/* Used for angular / account register */
tr.future td {
    background-color: #DDDDDD;
}

.main-content {
    margin-bottom: 65px
}

.right {
    align: right;
}