Apache - HTTP
<div>
    <a ng-click="getData()">getData</a>
</div>
<td class="infoChi-table">
    <input type="text" name="input" size="80" ng-model="q" class="infoChi-input">
<!--    <a ng-if="q" href="" ng-click="btnClearSearch()" class="btn btn-xs btn-success">Clear</a>-->
</td>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Domain</th>
        <th>Website</th>
        <th>Client</th>
    </tr>
    <tr dir-paginate="Datum in Data | filter:q | itemsPerPage: 10" pagination-id="apache">
        <td>{{Datum.id}}</td>
        <td>{{Datum.domain}}</td>
        <td>{{Datum.website}}</td>
        <td>{{Datum.client}}</td>
    </tr>
</table>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html"
                             pagination-id="apache"></dir-pagination-controls>
</div>
