<div>Pending Transfer Entry

    <a href="#!/banking/pending_transfer">Entries List</a>
    <form ng-submit="saveData()">
        <div class="row">
            <div class="col-sm-3">Id</div>
            <div class="col-sm-9">
                <span ng-if="Data.id">{{ Data.id }}</span>
                <span ng-if="!Data.id">To Be Determined</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Name</div>
            <div class="col-sm-9">
                <input type="text" ng-model="Data.name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Amount</div>
            <div class="col-sm-9">
                <input type="text" ng-model="Data.amount">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Class</div>
            <div class="col-sm-9">
                <ui-select ng-model="selectMClass" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updClass($select.selected)"> <ui-select-no-choice>
                </ui-select-no-choice> <ui-select-match
                        placeholder="{{selectClass.value}}">{{ selectClass.value }}</ui-select-match>
                    <ui-select-choices repeat="opt in optClasses | filter: $select.search">
                        <span ng-bind-html="opt.descrip | highlight: $select.search"></span>
                    </ui-select-choices></ui-select>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Account From</div>
            <div class="col-sm-9">
                <ui-select ng-model="selectMAccountFrom" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updAccountFrom($select.selected)"> <ui-select-no-choice>
                </ui-select-no-choice> <ui-select-match
                        placeholder="{{selectAccountFrom.value}}">{{ selectAccountFrom.value }}</ui-select-match>
                    <ui-select-choices repeat="opt in optAccounts | filter: $select.search">
                        <span ng-bind-html="opt.name | highlight: $select.search"></span>
                    </ui-select-choices></ui-select>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Account To</div>
            <div class="col-sm-9">
                <ui-select ng-model="selectMTo" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updAccountTo($select.selected)"> <ui-select-no-choice>
                </ui-select-no-choice> <ui-select-match
                        placeholder="{{selectAccountTo.value}}">{{ selectAccountTo.value }}</ui-select-match>
                    <ui-select-choices repeat="opt in optAccounts | filter: $select.search">
                        <span ng-bind-html="opt.name | highlight: $select.search"></span>
                    </ui-select-choices></ui-select>

            </div>
        </div>
        <input type="submit" value="Submit Changes" class="btn btn-primary">
    </form>
</div>