<h1>Pending Transfer Entries</h1>
<a href="#!/banking/pending_transfer/0">Create New Entry</a> | <a ng-click="getData()">getData</a>
<p ng-if="Data.length > 0">
    <a ng-click="runProcess()">Process</a>
</p>
<table class="table table-striped table-condensed">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Amount</th>
        <th>From</th>
        <th>To</th>
        <th>Class</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/banking/pending_transfer/{{dat.id}}">Edit</a></td>
        <td>{{dat.name}}</td>
        <td>{{ dat.amount|currency}}</td>
        <td>{{ dat.banking_account_from.name }}</td>
        <td>{{ dat.banking_account_to.name }}</td>
        <td>{{dat.banking_class.descrip}}</td>
    </tr>
</table>
<hr>
<table class="table table-striped table-condensed">
    <tr>
        <th></th>
        <th>Amount</th>
        <th>From</th>
        <th>To</th>
    </tr>
    <tr ng-repeat="dat in Summary|filter:filterItem">
        <td><a href="#!/banking/pending_transfer/{{dat.id}}">Edit</a></td>
        <td>{{dat.amount|currency}}</td>
        <td>{{ dat.banking_account_from.name }}</td>
        <td>{{ dat.banking_account_to.name }}</td>
    </tr>
</table>
