<h2>{{Data.name}} - {{Data.ticker}}</h2>
<form ng-submit="saveData()">
    <table class="table table-hover table-striped">
        <tr>
            <td>Ticker</td>
            <td><input type="text" ng-model="Data.ticker"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input tpe="text" ng-model="Data.name"></td>
        </tr>
        <tr>
            <td>Refresh</td>
            <td>{{Data.asof}}</td>
        </tr>
        <tr ng-if="Data.id">
            <td>Price</td>
            <td>{{Data.price}} <span class="{{Data.Diff}}">{{Data.diff}} ({{Data.diff_pct}}%)</span></td>
        </tr>
        <tr ng-if="Data.id">
            <td>50 Day Moving Average</td>
            <td>{{Data.ma_50}} <span class="{{Data.Dma_50}}"><span ng-if="Data.dma_50 >= 0">+</span>{{Data.dma_50}} ({{Data.dma_50_pct}}%)</span></td>
        </tr>
        <tr ng-if="Data.id">
            <td>200 Day Moving Average</td>
            <td>{{Data.ma_200}} <span class="{{Data.Dma_200}}"><span ng-if="Data.dma_200 >= 0">+</span>{{Data.dma_200}} ({{Data.dma_200_pct}}%)</span></td>
        </tr>
        <tr ng-if="Data.id">
            <td>Trend: 50/200</td>
            <td><span class="{{Data.Up_50_200}}">{{Data.up_50_200}}</td>
        </tr>
    </table>
    <input type="submit" value="Save Data">
</form>
<div ng-if="Notes.length">
    <h3>Notes</h3>
    <table class="table table-striped">
        <tr ng-repeat="Note in Notes">
            <td>{{Note.created}}</td>
            <td>{{Note.note}}</td>
        </tr>
    </table>
</div>