<h2>Edit JournalEntries</h2>
<div ng-include="BreadcrumbsUrl"></div>
<!--<div ng-include="/html/util/breadcrumbs.html"></div>-->
<form ng-submit="saveData()">
    <table style="width: 100%;">
        <tr>
            <td>Subject</td>
            <td><input type="text" ng-model="Data.subject"></td>
        </tr>
        <tr>
            <td>Actdate</td>
            <td><input type="text" ng-model="Data.actdate"></td>
        </tr>
        <tr>
            <td>Miles</td>
            <td><input type="text" ng-model="Data.miles"></td>
        </tr>
        <tr>
            <td>Body</td>
            <td><textarea ng-model="Data.body"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save Data"/></td>
        </tr>
    </table>
</form>