<h2>Journal Entries - <a href="#!/journal/0/journal_id/{{journal_id}}">Create</a></h2>
<div>
    <!--    Breadcrumbs-->
    <span ng-repeat="breadcrumb in Breadcrumbs">
        <span ng-if="$index"> | </span>
        <span ng-if="breadcrumb.link != ''">
            <a href="{{breadcrumb.link}}">{{breadcrumb.name}}</a>
        </span>
        <span ng-if="breadcrumb.link == ''">
            {{breadcrumb.name}}
        </span>
    </span>

</div>
<div ng-include="'/html/util/report-generator.html'" ng-controller="reportGeneratorCtrl"></div>