<h1>Bank Accounts</h1>
<a ng-click="getData()">getData</a>

<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Name</th>
<!--        <th>Type</th>-->
        <th>Balance</th>
        <th>Max Cleared Date</th>
        <th>Future Balance</th>
    </tr>
    <tr ng-repeat="Acct in Data">
        <td><a href="#!/banking/register/{{Acct.id}}">{{ Acct.name }}</a></td>
<!--        <td>{{ Acct.type_value|currency }}</td>-->
        <td>{{ Acct.currentBalance|currency }}</td>
        <td>{{ Acct.maxDate }}</td>
        <td>{{ Acct.futureBalance|currency }}</td>
    </tr>
</table>
