<form ng-submit="saveTransfer()">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <a href="#!/banking/register/{{Data.account}}" class="btn btn-success">Account Register</a>
            <a ng-if="new_transaction" ng-click="startup()" class="btn btn-success">New Transaction</a>
            <a ng-if="Data.transaction_id" ng-click="deleteTransaction()" class="btn btn-danger">Delete Transaction</a>
            <input type="submit" value="Save Transaction" class="btn btn-primary">
        </div>
    </div>
    <h3>Create Banking Transfer</h3>
    <table class="form">
        <tr>
            <td>EntryDate</td>
            <td><input type="text" name="entrydate" ng-model="Data.entrydate"></td>
        </tr>
        <tr>
            <td>Payee</td>
            <td><input type="text" name="payee" ng-model="Data.payee"></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" name="amount" ng-model="Data.amount"></td>
        </tr>
        <tr>
            <td>Account From</td>
            <td>
                <span>
                    <ui-select ng-model="Select.AccountFrom" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="choAccountFrom(Select.AccountFrom)" allow-clear>
                        <ui-select-no-choice> </ui-select-no-choice>
                        <ui-select-match placeholder="{{Select.AccountFrom.name}}">{{Select.AccountFrom.name}}</ui-select-match>
                        <ui-select-choices repeat="opt in Accounts | filter: $select.search">
                            <span ng-bind-html="opt.name | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
            </td>
        </tr>
        <tr>
            <td>Account To</td>
            <td>
                <span>
                    <ui-select ng-model="Select.AccountTo" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="choAccountTo(Select.AccountTo)" allow-clear>
                        <ui-select-no-choice> </ui-select-no-choice>
                        <ui-select-match placeholder="{{Select.AccountTo.name}}">{{Select.AccountTo.name}}</ui-select-match>
                        <ui-select-choices repeat="opt in Accounts | filter: $select.search">
                            <span ng-bind-html="opt.name | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
            </td>
        </tr>
     </table>
</form>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>