<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div>
            <a ng-click="getData()" class="left btn btn-primary">getData</a>
            <a ng-click="updateTranactions()" class="left btn btn-warning">Update: C to R</a>
            <span style="font-size: 125%; text-align: center;">{{ Account.name }}
            <span ng-if="Account.type == 2"> - Cleared: {{ valCleared | currency }}
            </span>
        </span>
        </div>
        <div class="text-right">
            <a href="#!/banking/transaction/0/{{Account.id}}" class="btn btn-primary">New Tranaction</a>
            <a href="#!/banking/create_transfer/{{Account.id}}" class="btn btn-primary">New Transfer</a>
            <a href="#!/banking/accounts" class="btn btn-success">Accounts List</a>
        </div>
    </div>
</div>
<div class="main-content">
    <h1>{{ Account.name }}</h1>
    <a ng-click="getData()">getData</a> | <a href="#!/banking/accounts">Accounts List</a>
    <table class="table table-condensed table-hover table-striped">
        <tr>
            <th></th>
            <th></th>
            <th>EntryDate</th>
            <th>Payee</th>
            <th>Category</th>
            <th>(-) D</th>
            <th>(+) C</th>
            <th>Balance</th>
        </tr>
        <tr ng-repeat="Tran in Data" class="{{Tran.rowClass}}">
            <td><a href="#!/banking/transaction/{{Tran.id}}">Edit</a></td>
            <td>
                <a style="color: {{tran.labelColor}}" ng-click="updStatus(Tran)">
                    {{ Tran.labelStatus }}
                </a>
            </td>
            <td>{{ Tran.entrydate }}</td>
            <td>{{ Tran.payee }}</td>
            <td>{{ Tran.category_value }}</td>
            <td class="text-right">{{ Tran.debit|currency }}</td>
            <td class="text-right">{{ Tran.credit|currency }}</td>
            <td class="text-right">{{ Tran.balance|currency }}</td>
        </tr>
    </table>
</div>
