<form ng-submit="saveTransaction()">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <a href="#!/banking/register/{{Data.account}}" class="btn btn-success">Account Register</a>
            <a ng-if="new_transaction" ng-click="startup()" class="btn btn-success">New Transaction</a>
            <a ng-if="Data.transaction_id" ng-click="deleteTransaction()" class="btn btn-danger">Delete Transaction</a>
            <input type="submit" value="Save Transaction" class="btn btn-primary">
        </div>
    </div>
    <h3>Banking Transaction</h3>
    <table class="form">
        <tr>
            <td>ID</td>
            <td>{{Data.id}}</td>
        </tr>
        <tr>
            <td>Num</td>
            <td><input type="text" name="num" ng-model="Data.num"></td>
            <td><a ng-click="addRefund()" class="btn btn-success">Add Refund Transaction</a></td>
        </tr>
        <tr>
            <td>EntryDate</td>
            <td><input type="text" name="entrydate" ng-model="Data.entrydate"></td>
            <td><a ng-click="addYear()" class="btn btn-success">Add Year w/ Comment</a></td>
        </tr>
        <tr>
            <td>Payee</td>
            <td><input type="text" name="payee" ng-model="Data.payee"></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" name="amount" ng-model="Data.amount"></td>
        </tr>
        <tr>
            <td valign="top">Category</td>
            <td>
                <span>
                    <ui-select ng-model="Select.Category" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="choCategory(Select.Category, Data)" allow-clear>
                        <ui-select-no-choice> </ui-select-no-choice>
                        <ui-select-match placeholder="{{Select.Category.descrip}}">{{Select.Category.descrip}}</ui-select-match>
                        <ui-select-choices repeat="opt in Categories | filter: $select.search">
                            <span ng-bind-html="opt.descrip | highlight: $select.search"></span> </ui-select-choices></ui-select>
                </span>
            </td>
        </tr>
        <tr id="spanCat" ng-if="Data.cat == 1">
            <td>
                <a href="#" ng-click="addSplitLine(); $event.preventDefault();" class="btn btn-primary">Increase Size</a><br>
            </td>
            <td>
                <table class="table table-hover table-striped">
                    <tr>
                        <th>Category</th>
                        <th>Class</th>
                        <th>Amount</th>
                    </tr>
                    <tr ng-repeat="(key, Split) in Data.Splits">
                        <td>
                            <span>
                                <ui-select ng-model="Select.Splits[key].Category" theme="selectize"
                                           ng-disabled="disabled"
                                           on-select="choCategory(Select.Splits[key].Category, Data.Splits[key])" allow-clear>
                                    <ui-select-no-choice> </ui-select-no-choice>
                                    <ui-select-match placeholder="{{Select.Splits[key].Category.descrip}}">{{Select.Splits[key].Category.descrip}}</ui-select-match>
                                    <ui-select-choices repeat="opt in Categories | filter: $select.search">
                                        <span ng-bind-html="opt.descrip | highlight: $select.search"></span> </ui-select-choices></ui-select>
                            </span>
                        </td>
                        <td>
                            <span>
                                <ui-select ng-model="Select.Splits[key].Class" theme="selectize"
                                           ng-disabled="disabled"
                                           on-select="choClass(Select.Splits[key].Class, Data.Splits[key])" allow-clear> <ui-select-no-choice> </ui-select-no-choice>
                                    <ui-select-match placeholder="{{Select.Splits[key].Class.descrip}}">{{Select.Splits[key].Class.descrip}}</ui-select-match>
                                    <ui-select-choices repeat="opt in Classes | filter: $select.search">
                                        <span ng-bind-html="opt.descrip | highlight: $select.search"></span> </ui-select-choices>
                                </ui-select>
                            </span>
                        </td>
                        <td><input type="text" ng-model="Split.amount" size="20" ng-change="evalSplit()"></td>
                    </tr>
                </table>
                <table class="table table-hover table-striped">
                    <tr>
                        <td>Split Total</td>
                        <td>{{Data.splitTotal}}<span id="splitTotal"></span></td>
                    </tr>
                    <tr>
                        <td>Transaction</td>
                        <td>{{Data.splitTransaction}}</td>
                    </tr>
                    <tr>
                        <td>Difference</td>
                        <td>{{Data.splitDifference}}</td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr ng-if="Data.cat != 1">
            <td>Class</td>
            <td>
                <span><ui-select ng-model="Select.Class" theme="selectize"
                                 ng-disabled="disabled"
                                 on-select="choClass(Select.Class, Data)" allow-clear> <ui-select-no-choice> </ui-select-no-choice>
                        <ui-select-match placeholder="{{Select.Class.descrip}}">{{Select.Class.descrip}}</ui-select-match>
                        <ui-select-choices repeat="opt in Classes | filter:filterClass | filter: $select.search">
                            <span ng-bind-html="opt.descrip | highlight: $select.search"></span> </ui-select-choices>
                    </ui-select></span>
            </td>
        </tr>
        <tr>
            <td>Account</td>
            <td>
                <span>
                    <ui-select ng-model="Select.Account" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="choAccount(Select.Account)" allow-clear>
                        <ui-select-no-choice> </ui-select-no-choice>
                        <ui-select-match placeholder="{{Select.Account.name}}">{{Select.Account.name}}</ui-select-match>
                        <ui-select-choices repeat="opt in Accounts | filter: $select.search">
                            <span ng-bind-html="opt.name | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
            </td>
        </tr>
        <tr>
            <td>Comment</td>
            <td><input type="text" name="comment" ng-model="Data.comment"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <input type="radio" ng-model="Data.status" ng-value="0">Un-reconciled<br>
                <input type="radio" ng-model="Data.status" ng-value="1">Cleared<br>
                <input type="radio" ng-model="Data.status" ng-value="-1">Reconciled<br>
            </td>
        </tr>
        <tr ng-if="Data.meta_data.transfer_from || Data.meta_data.transfer_to">
            <td>Transfer Link:&nbsp;</td>
            <td>
                <span ng-if="Data.meta_data.transfer_from">From - <a href="#!/banking/transaction/{{Data.meta_data.transfer_from}}">{{Data.meta_data.transfer_from}}</a></span>
                <span ng-if="Data.meta_data.transfer_to">To - <a href="#!/banking/transaction/{{Data.meta_data.transfer_to}}">{{Data.meta_data.transfer_to}}</a></span>
            </td>
        </tr>
     </table>
</form>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>