<h2>Equity Input</h2>
<div>{{Data.status}}</div>
<table class="table">
    <tr>
        <td class="text-right">Trade Id:</td>
        <td>{{Data.tr_id}}</td>
    </tr>
    <tr>
        <td class="text-right">Date</td>
        <td><input type="text" ng-model="Data.actdate"></td>
    </tr>
    <tr>
        <td class="text-right">Qty</td>
        <td><input type="text" ng-model="Data.qty"></td>
    </tr>
    <tr>
        <td class="text-right">Price</td>
        <td><input type="text" ng-model="Data.price"></td>
    </tr>
    <tr>
        <td class="text-right">Commission</td>
        <td><input type="text" ng-model="Data.commission"></td>
    </tr>
    <tr>
        <td class="text-right">Total</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td class="text-right">Ticker</td>
        <td><input type="text" ng-model="Data.ticker"></td>
    </tr>
    <tr>
        <td class="text-right">Trade (Reinvest) Type</td>
        <td><input type="text" ng-model="Data.reinvest"></td>
    </tr>
    <tr>
        <td class="text-right">Account/Simulation</td>
        <td><input type="text" ng-model="Data.account"></td>
    </tr>
</table>
<a ng-click="saveTrade()" class="btn btn-success">Save Trade</a>