<h2>Add/Edit Inventory Item</h2>
<div ng-include="BreadcrumbsUrl"></div>

<form ng-submit="saveData()">
<table style="width: 100%;">
    <tr>
        <td>Name</td>
        <td><input type="text" ng-model="Data.name"></td>
    </tr>
    <tr>
        <td>Qty</td>
        <td><input type="text" ng-model="Data.qty"></td>
    </tr>
    <tr>
        <td>Qty Partial</td>
        <td><input type="text" ng-model="Data.qty_partial"></td>
    </tr>
    <tr>
        <td>Costco</td>
        <td><input type="text" ng-model="Data.costco"></td>
    </tr>
    <tr>
        <td><input type="submit" value="Save Data"></td>
    </tr>
</table>
</form>