<p><a href="/logout">Logout</a> |
    <span ng-repeat="acc in groups">
        <span ng-if="$index > 0"> | </span>
        <a ng-if="acc.var_name != valSecond()" ng-click="setSecond(acc.var_name)">{{ acc.label }}</a>
        <span ng-if="acc.var_name == valSecond()">{{ acc.label }}</span>
    </span>
    <br>
    <span ng-repeat="acc in groups">
        <span ng-if="acc.var_name == valSecond()">
            <span ng-repeat="ac in acc.items">
                <span ng-if="$index > 0"> | </span>
                <a href="{{ac.href}}">{{ ac.label }}</a>
            </span>
        </span>
    </span>

<br>