<div class="col-sm-3" ng-repeat="acc in groups">
    <dl>
        <dt>{{ acc.label }}</dt>
        <dd ng-repeat="ac in acc.items">
            <a href="{{ac.href}}">{{ ac.label }}</a>
        </dd>
    </dl>
</div>