<h1>Items - Edit</h1>
<!--<a ng-click="getData()">getData</a>-->
<br>
<form ng-submit="saveData()">
<div class="col-xs-4">
    <div>
        Barcode
        <span ng-if="newItem()"> - Must be Unique</span>
        <br><input type="text" ng-model="Data.barcode_id">
    </div>
    <div>
        Brief<br><input type="text" ng-model="Data.brief">
    </div>
    <div>&nbsp;</div>
        Container <input type="checkbox" ng-model="Data.container">
    <div>
        <textarea ng-model="Data.notes"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</div>
<div class="col-xs-4" ng-if="Container.id">
    <h3>Contained In</h3>
    <a ng-click="removeContains(Container)">X</a> -
    <a href="#!/items/{{Container.barcode_id}}">{{ Container.barcode_id }}</a> -
    {{ Container.brief }}
</div>
<div class="col-xs-4" ng-if="Contains.length">
    <h3>Contains</h3>
    <div class="row" ng-repeat="Datum in Contains">
        <a ng-click="removeContains(Datum)">X</a> -
        <a href="#!/items/{{Datum.barcode_id}}">{{ Datum.barcode_id }}</a> - {{ Datum.brief }}
    </div>
</div>
<div class="col-xs-4">
    Add/Change Container
    <ui-select ng-model="selectStatus" theme="selectize"
               ng-disabled="disabled" style="width: 400px;"
               allow-clear on-select="choiceContainer($select.selected)"> <ui-select-no-choice>
    </ui-select-no-choice> <ui-select-match
            placeholder="Add/Change Container">Add/Change Container</ui-select-match>
        <ui-select-choices repeat="opt in Contain | filter: runFilterContainer | filter: $select.search">
            <span ng-bind-html="opt.value | highlight: $select.search"></span>
        </ui-select-choices> </ui-select>
</div>
<div class="col-xs-4">
    Add to Contains List
    <ui-select ng-model="selectStatus" theme="selectize"
               ng-disabled="disabled" style="width: 400px;"
               allow-clear on-select="choiceContains($select.selected)"> <ui-select-no-choice>
    </ui-select-no-choice> <ui-select-match
            placeholder="Add to Contains List">Add to Contains List</ui-select-match>
        <ui-select-choices repeat="opt in Contain | filter: runFilterContain | filter: $select.search">
            <span ng-bind-html="opt.value | highlight: $select.search"></span>
        </ui-select-choices> </ui-select>
</div>
<!--<a ng-click="getContain()">getContain</a>-->
</form>