<h1>Items - <a href="#!/items/create">Create</a></h1>
<a ng-click="getData()">getData</a>
<div>
        Filter: <input type="text" ng-model="q">
</div>
<div>&nbsp;</div>
<div class="row">
    <div class="col-xs-1"><a href="#!/items/{{Datum.barcode_id}}">{{ Datum.barcode_id }}</a></div>
    <div class="col-xs-3">{{ Datum.brief }}</div>
</div>
<div class="row" ng-repeat="Datum in Data | filter:q">
    <div class="col-xs-1"><a href="#!/items/{{Datum.barcode_id}}">{{ Datum.barcode_id }}</a></div>
    <div class="col-xs-3">{{ Datum.brief }}</div>
</div>
<hr>