<h1>Rentals</h1>
<!--<a href="#!/tracker/create">Create New Ticket</a> | -->
<a ng-click="getData()">getData</a>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Platform</th>
        <th>Name</th>
        <th>Checkin</th>
        <th>Number of Nights</th>
        <th>Nightly Rate</th>
        <th>Access Code</th>
        <th>Total Payment</th>
        <th>Pay Date</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/jada_properties/rental/{{dat.id}}">{{dat.id}}</a></td>
        <td>{{dat.rental_platform_value}}</td>
        <td>{{dat.name}}</td>
        <td>{{dat.checkin}}</td>
        <td>{{dat.num_nights}}</td>
        <td>{{dat.nightly_rate}}</td>
        <td>{{dat.access_code}}</td>
        <td>{{dat.total_received}}</td>
        <td>{{dat.pay_date}}</td>
    </tr>
</table>
