<h1>Utility Bills</h1>
<!--<a href="#!/tracker/create">Create New Ticket</a> | -->
<a ng-click="getData()">getData</a>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Util Class</th>
        <th>Bill Date</th>
        <th>Due Date</th>
        <th>Total Amount</th>
        <th>Paid</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/jada_properties/rental/{{dat.id}}">{{dat.id}}</a></td>
        <td>{{dat.util_class_value}}</td>
        <td>{{dat.bill_date}}</td>
        <td>{{dat.due_date}}</td>
        <td>{{dat.total_amount}}</td>
        <td>{{dat.paid}}</td>
    </tr>
</table>
