<h1>Utility Bills</h1>
<!--<a href="#!/tracker/create">Create New Ticket</a> | -->
<a ng-click="getData()">getData</a>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/jada_properties/util_bills/{{dat.id}}">{{dat.id}}</a></td>
        <td>{{dat.value}}</td>
    </tr>
</table>
