<a href="#!/jada_properties/util_bill/{{Data.rental_property_id}}">Rental List - Current Property</a>
<h1>Util Bill</h1>
<!--<a ng-click="getData()">getData</a>-->
<form ng-submit="saveData()">
<!--    ID-->
    <div class="row">
        <div class="col-sm-3">Platform</div>
        <div class="col-sm-9">
            <ui-select ng-model="selectPlatform" theme="selectize"
                       ng-disabled="disabled" style="width: 400px;"
                       allow-clear on-select="setPlatform($select.selected)"> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
                    placeholder="{{selectPlatform.value}}">{{ selectPlatform.value }}</ui-select-match>
                <ui-select-choices repeat="opt in optPlatforms | filter: $select.search">
                    <span ng-bind-html="opt.value | highlight: $select.search"></span>
                </ui-select-choices> </ui-select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Property</div>
        <div class="col-sm-9">
            {{Data.rental_property_id}}
<!--            <input type="text" ng-model="Data.title">-->
        </div>
    </div>
    <div>&nbsp;</div>
<!--    Name, Basics-->
    <div class="row">
        <div class="col-sm-3">Name</div>
        <div class="col-sm-9">
            <input type="text" ng-model="Data.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Checkin</div>
        <div class="col-sm-9">
            <input type="text" ng-model="Data.checkin">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Checkout</div>
        <div class="col-sm-9">
            <input type="text" ng-model="Data.checkout">
        </div>
    </div>
    <div>&nbsp;</div>
<!--    Monetary-->
    <div class="row">
        <div class="col-sm-3">Nightly Rate</div>
        <div class="col-sm-9">
            $ <input type="text" size="10" ng-model="Data.nightly_rate">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Number of Nights</div>
        <div class="col-sm-9">
            <input type="text" size="5" ng-model="Data.num_nights">
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-sm-3">Pay Date</div>
        <div class="col-sm-9">
            <input type="text" ng-model="Data.pay_date">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Service Fee</div>
        <div class="col-sm-9">
            $ <input type="text" size="10" ng-model="Data.service_fee">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Lodging Taxes </div>
        <div class="col-sm-9">
            $ <input type="text" size="10" ng-model="Data.taxes_lodging">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Total Received</div>
        <div class="col-sm-9">
            $ <input type="text" size="10" ng-model="Data.total_received">
        </div>
    </div>
    <input type="submit" value="Submit Changes" class="btn btn-primary">
</form>