<h1>Business Report</h1>
<a ng-click="getData()">getData</a>
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th></th>
        <th>Name</th>
     </tr>
    <tr ng-repeat="Datum in Data">
        <td><a href="#!/banking/reports/business/{{Datum.id}}">Monthly</a></td>

        <td>{{Datum.name}}</td>
    </tr>
</table>
