<h1>Business Report - {{name}}</h1>
<a ng-click="getData()">getData</a>
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Income</th>
        <th>Expenses</th>
        <th>Net</th>
     </tr>
    <tr ng-repeat="Datum in Data">
        <td>{{Datum.year}}</td>
        <td>{{Datum.month}}</td>
        <td align="right"><a href="#!/banking/reports/transaction/{{income_id}}/{{Datum.year}}/{{Datum.month}}">{{Datum.income|currency}}</a></td>
        <td align="right" class="right"><a href="#!/banking/reports/transaction/{{expense_id}}/{{Datum.year}}/{{Datum.month}}">{{Datum.expense|currency}}</a></td>
        <td align="right">{{net(Datum)|currency}}</td>
    </tr>
</table>
