<h1>Reports Monthly</h1>
<a ng-click="getData()">getData</a>

<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Subtotal</th>
     </tr>
    <tr ng-repeat="Datum in Data">
        <td>{{Datum.year}}</td>
        <td>{{Datum.month}}</td>
        <td>{{Datum.subtotal}}</td>
    </tr>
</table>
