<h1>Reports Transaction Level</h1>
<p><a ng-click="getData()">Refresh</a></p>
<p>List of Reports</p>
<div class="row" ng-repeat="Dat in Data | orderBy: 'name'">
    <div class="col-xs-1">
        <a href="#!/banking/reports/transaction/{{Dat.id}}">View</a> |
        <a href="#!/banking/reports/{{Dat.id}}">Edit</a>
    </div>
    <div class="col-xs-5">
        {{Dat.name}}
    </div>
</div>