<h1>Edit A Report</h1>
<p><a href="#!/banking/reports">Index</a> | <a ng-if="Data.id != 0" href="#!/banking/reports/transaction/{{Data.id}}">View Report</a> | <a ng-click="getData()">Refresh Data</a></p>
<form ng-submit="saveData()" class="well">
    <table class="table">
        <tr>
            <td>ID</td>
            <td>{{ Data.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="Data.name"></td>
        </tr>
        <tr>
            <td>Start_date</td>
            <td><input type="text" ng-model="Data.startdate"></td>
        </tr>
        <tr>
            <td>End_date</td>
            <td><input type="text" ng-model="Data.enddate"></td>
        </tr>
        <!--        <tr>-->
        <!--            <td>Type</td>-->
        <!--            <td></td>-->
        <!--        </tr>-->
    </table>
    <a ng-click="saveData()" class="btn btn-success">Save Changes</a>
</form>
<div class="well">
    <div>Categories</div>
    <div>
        <ul ng-repeat="Category in Categories_Data">
            <dd><a ng-click="delCategory(Category)" style="background-color: #990000; color: #FFFFFF">X</a> | {{ Category.value }}</dd>
        </ul>
    </div>
    <div>
                   <span>
                    <ui-select ng-model="Select.Category" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="addCategory(Select.Category)" allow-clear>
                        <ui-select-no-choice> </ui-select-no-choice>
                        <ui-select-match
                                placeholder="{{Select.Category.descrip}}">{{ Select.Category.descrip }}</ui-select-match>
                        <ui-select-choices repeat="opt in Categories | filter: $select.search">
                            <span ng-bind-html="opt.descrip | highlight: $select.search"></span> </ui-select-choices></ui-select>
                </span>
    </div>
</div>
<div class="well ">
    <div>Classes</div>
    <div>
        <ul ng-repeat="Class in Classes_Data">
            <dd><a ng-click="delClass(Class)" style="background-color: #990000; color: #FFFFFF">X</a> | {{ Class.value }}</dd>
        </ul>
    </div>
    <div>
                   <span><ui-select ng-model="Select.Class" theme="selectize"
                                    ng-disabled="disabled" style="width: 400px;"
                                    on-select="addClass(Select.Class)" allow-clear> <ui-select-no-choice> </ui-select-no-choice>
                        <ui-select-match
                                placeholder="{{Select.Class.descrip}}">{{ Select.Class.descrip }}</ui-select-match>
                        <ui-select-choices repeat="opt in Classes | filter:filterClass | filter: $select.search">
                            <span ng-bind-html="opt.descrip | highlight: $select.search"></span> </ui-select-choices>
                    </ui-select></span>
    </div>
</div>
<div class="well">
    <div>Accounts</div>
    <div>
        <ul ng-repeat="Account in Accounts_Data">
            <dd><a ng-click="delAccount(Account)" style="background-color: #990000; color: #FFFFFF">X</a> | {{ Account.value }}</dd>
        </ul>
    </div>
    <div>
                    <span>
                    <ui-select ng-model="Select.Account" theme="selectize"
                               ng-disabled="disabled" style="width: 400px;"
                               on-select="addAccount(Select.Account)" allow-clear>
                        <ui-select-no-choice> </ui-select-no-choice>
                        <ui-select-match
                                placeholder="{{Select.Account.name}}">{{ Select.Account.name }}</ui-select-match>
                        <ui-select-choices repeat="opt in Accounts | filter: $select.search">
                            <span ng-bind-html="opt.name | highlight: $select.search"></span>
                        </ui-select-choices> </ui-select>
                </span>
    </div>
</div>
