<h1>Reports Transaction Level</h1>
<p>
    <a href="#!/banking/reports">Index</a> |
    <a href="#!/banking/reports/{{report_id}}">Edit Report</a> |
    <a ng-click="getData()">Refresh Data</a>
</p>
<div class="well">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>{{ Summary.name }}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{ Summary.total|currency }}</td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td>{{ Summary.startDate }}</td>
        </tr>
        <tr>
            <td>End Date</td>
            <td>{{ Summary.endDate }}</td>
        </tr>
    </table>
</div>
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>id</th>
        <th>EntryDate</th>
        <th>Payee</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Class</th>
        <th>Account</th>
    </tr>
    <tr ng-repeat="Datum in Data.response">
        <td><a href="#!/banking/transaction/{{ Datum.id }}">{{ Datum.id }}</a></td>
        <td>{{ Datum.entrydate }}</td>
        <td>{{ Datum.payee }}</td>
        <td>{{ Datum.amount }}</td>
        <td>{{ Datum.category_name }}</td>
        <td>{{ Datum.class_name }}</td>
        <td>{{ Datum.account_name }}</td>
    </tr>
</table>