<h1>Projects</h1>
<a href="#!/tracker/tickets">Tickets</a> | <a ng-click="getData()">getData</a>

<table class="table table-striped table-condensed">
    <tr>
        <th>Prefix</th>
        <th>Name</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/tracker/tickets/{{dat.id}}">{{dat.prefix}}</td>
        <td>{{dat.name}}</td>
    </tr>
</table>
