<h1>Reminders</h1>
<a href="#!/tracker/reminder">Create New Reminder</a> |
<a ng-click="getData()">getData</a>

<table class="table table-striped">
    <tr>
        <th>Subject</th>
        <th>Next</th>
        <th>Frequency</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/tracker/reminder/{{dat.id}}">{{dat.subject}}</a></td>
        <td>{{dat.nextDate}}</td>
        <td>{{dat.Frequency}}</td>
    </tr>
</table>
