<a href="#!/tracker/reminders">Reminders List</a>
<form ng-submit="saveData()">
    <div class="row">
        <div class="col-sm-3">Id</div>
        <div class="col-sm-9">
            <span ng-if="Data.id">
            {{ Data.id }}
                </span>
         </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Frequency</div>
        <div class="col-sm-9">
            <ui-select ng-model="selectFrequency" theme="selectize"
                       ng-disabled="disabled" style="width: 400px;"
                       allow-clear on-select="updFrequency($select.selected)">
                <ui-select-no-choice>
                </ui-select-no-choice>
                <ui-select-match
                        placeholder="{{selectFrequency.value}}">{{ selectFrequency.value }}
                </ui-select-match>
                <ui-select-choices repeat="opt in optFrequencies | filter: $select.search">
                    <span ng-bind-html="opt.value | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Next</div>
        <div class="col-sm-9">
            <input type="text" ng-model="Data.next">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Subject</div>
        <div class="col-sm-9">
            <input type="text" ng-model="Data.subject">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Body</div>
        <div class="col-sm-9">
            <textarea rows="12" cols="80" ng-model="Data.body"></textarea>
        </div>
    </div>
    <input type="submit" value="Submit Changes" class="btn btn-primary">
</form>