<div>
    <a href="{{getLinkList()}}">Ticket List</a>
    <h3>
        Basics

    </h3>
    <form ng-submit="saveData()">
        <div class="row">
            <div class="col-sm-3">Code</div>
            <div class="col-sm-9">
            <span ng-if="Data.id">
            {{ Data.code }}
                </span>
                <span ng-if="!Data.id">
            <ui-select ng-model="selectProject" theme="selectize"
                       ng-disabled="disabled" style="width: 400px;"
                       allow-clear on-select="setProject($select.selected)"> <ui-select-no-choice>
            </ui-select-no-choice> <ui-select-match
                    placeholder="{{selectStatus.name}}">{{ selectProject.name }}</ui-select-match>
                <ui-select-choices repeat="opt in optProjects | filter: $select.search">
                    <span ng-bind-html="opt.name | highlight: $select.search"></span>
                </ui-select-choices> </ui-select>
                <span ng-if="Data.nextProject">{{ Data.nextProject }}</span>
            </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Title</div>
            <div class="col-sm-9">
                <input type="text" ng-model="Data.title">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Status</div>
            <div class="col-sm-9">
            <span ng-if="Data.id">
                <ui-select ng-model="selectStatus" theme="selectize"
                           ng-disabled="disabled" style="width: 400px;"
                           allow-clear on-select="updStatus($select.selected)"> <ui-select-no-choice>
                </ui-select-no-choice> <ui-select-match
                        placeholder="{{selectStatus.value}}">{{ selectStatus.value }}</ui-select-match>
                    <ui-select-choices repeat="opt in optStatus | filter: $select.search">
                        <span ng-bind-html="opt.value | highlight: $select.search"></span>
                    </ui-select-choices> </ui-select>
            </span>
                <span ng-if="!Data.id">
                <strong>Open</strong>
            </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Cost (If applicable)</div>
            <div class="col-sm-6">
                <input type="text" ng-model="Data.cost">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Description</div>
            <div class="col-sm-6">
                <textarea rows="12" cols="80" ng-model="Data.description"></textarea>
            </div>
        </div>
        <input type="submit" value="Update Ticket" class="btn btn-primary">
    </form>
    <div ng-if="Data.id">
        <h3>Comments</h3>
        <form ng-submit="saveComment()">
            <div class="row">
                <div class="col-sm-12"><textarea ng-model="Data.newComment" rows="12" cols="80"></textarea></div>
            </div>
            <div class="row">
                <div class="col-sm-12"><input type="submit" value="Create Comment" class="btn btn-primary"></div>
            </div>
        </form>
        <div ng-repeat="dat in Data.comments" class="row">
            <div>&nbsp;</div>
            <div class="col-sm-3">
                {{ dat.created_at }}
            </div>
            <div class="col-sm-3">
                <pre>{{ dat.comment }}</pre>
            </div>
            <div ng-if="!$last">
                <hr>
            </div>
        </div>
    </div>
</div>