<h1>Tickets</h1>
<a href="#!/tracker/projects">Projects</a> |
<a href="{{getLinkCreate()}}">Create New Ticket</a> | <a ng-click="getData()">getData</a>

<table class="table table-striped table-condensed">
    <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Cost</th>
        <th>Status</th>
    </tr>
    <tr ng-repeat="dat in Data|filter:filterItem">
        <td><a href="#!/tracker/{{dat.code}}">{{dat.code}}</a></td>
        <td>{{dat.title}}</td>
        <td>${{dat.cost}}</td>
        <td>{{dat.status_value}}</td>
    </tr>
</table>
