<h2>Index</h2>

<a ng-click="getData()">GetData</a>

<table class="table">
    <tr>
        <th>id</th>
        <th>Next</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Account</th>
        <th>Category</th>
        <th>Class</th>
    </tr>
    <tr ng-repeat="dat in data">
        <td>{{dat.id}}</td>
        <td>{{dat.next}}</td>
        <td>{{dat.payee}}</td>
        <td>{{dat.amount}}</td>
        <td>{{dat.account_name}}</td>
        <td>{{dat.category_name}}</td>
        <td>{{dat.class_name}}</td>
    </tr>
</table>