<!--    Breadcrumbs-->
<span ng-repeat="breadcrumb in Breadcrumbs">
        <span ng-if="$index"> | </span>
        <span ng-if="breadcrumb.link != ''">
            <a href="{{breadcrumb.link}}">{{breadcrumb.name}}</a>
        </span>
        <span ng-if="breadcrumb.link == ''">
            {{breadcrumb.name}}
        </span>
    </span>
<!--{{BreadcrumbsID}}-->