<div>
    <p>Search Results - <input type="text" ng-model="q"></p>
</div>
<table class="table table-striped">
    <tr>
        <th ng-repeat="col in data.head">
            <a ng-if="col.sortable == 1" ng-click="order(col.var_name)">
                {{col.name}}
            </a>
            <span class="sortorder" ng-show="sortColumn === col.var_name"
                  ng-class="{reverse:reverse}"></span>
            <span ng-if="col.sortable != 1">
                {{col.name}}
            </span>
            <span ng-if="valFilterType == col.var_name && valFilter != ''"> -
                <a ng-click="setFilter(0, col.var_name)">Clear Filter</a>
            </span>
        </th>
    </tr>
    <tr ng-repeat="dat in data.report | filter:runFilter | filter:q  | orderBy:predicate:reverse">
<!--    <tr dir-paginate="dat in data.report | filter:runFilter | filter:q | orderBy:predicate:reverse | itemsPerPage: pageSize">-->
        <td ng-repeat="col in data.head" class="{{dat[col.css]}}">
            <div class="animate-switch-container" ng-switch on="col.link_type">
                <div ng-switch-when="1">
                    <a href="#!/{{col.url_item}}/{{col.var_name}}/{{dat[col.var_name]}}">
                        {{dat[col.var_name]}}
                    </a> (Drill-down)
                </div>
                <div ng-switch-when="2">
                    <a ng-click="setFilter(dat[col.var_name], col.var_name)">
                        {{dat[col.var_name]}}
                    </a> (Filter)
                </div>
                <div ng-switch-when="3">
                    <a href="#!/{{col.url_item}}/{{dat[col.col_id]}}">
                        {{dat[col.var_name]}}
                    </a> (View/Edit)
                </div>
                <div ng-switch-when="4">
                    <a href="#!/{{col.url_item}}/{{dat[col.col_id]}}">
                       {{col.label}}
                    </a>
                </div>
                <div ng-switch-default>{{dat[col.var_name]}}</div>
                <span ng-if="col.suffix"></span>{{col.suffix}}
            </div>
        </td>
    </tr>
</table>
<div class="text-center">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="/html/template/dirPagination.tpl.html">
    </dir-pagination-controls>
</div>
